@import '../../fonts.scss';

.dialogOff {
  display: none;
}

.dialogOn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.groupDialog-background {
  position: absolute;
  width: 100%;
  height: 100%;
}