@import '../../fonts.scss';

.dialog-off {
  display: none;
}

.dialog-on {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@media screen and (max-width: "900px") {
  .dialog-on {
    z-index: 2;
  }
}

.dialog-background {
  position: absolute;
  width: 150vw;
  height: 150vh;
}

@media screen and (max-width: 900px) {
  .dialog-background {
    left: -12vw;
    top: 0;
  }
}