@import '../../../../fonts.scss';

.deleteMembersDialog-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 500px;
  padding: 24px 36px 24px 36px;
  border: 1px solid;
  border-radius: 6px;
  animation-name: deleteMembersDialogAppear;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  z-index: 4;
}

@keyframes deleteMembersDialogAppear {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 900px) {
  .deleteMembersDialog-wrapper {
    position: absolute;
    left: -10vw;
    width: 100vw;
  }
}

.deleteMembersDialog-wrapper>p {
  font-size: 1rem;
  margin-top: 16px;
  margin-bottom: 16px;
  word-break: break-word;
  word-wrap: break-word;
}

.deleteMembersDialog-header {
  align-self: flex-start;
  font-family: $default-font;
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 1.5rem;
}

.dialogBtn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}