@import '../../../../fonts.scss';

.group-detail-context {
  transition: all 0.5s ease-in-out;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .group-detail-context {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.group-detail-on {
  width: 55%;
}

@media screen and (max-width: 900px) {
  .group-detail-on {
    width: 88vw;
    justify-content: flex-end;
  }
}

.group-detail-off {
  display: none;
}

@media screen and (max-width: 900px) {
  .group-detail-off {
    display: block;
    width: 88vw;
    transform: translate(100vw);
    justify-content: flex-end;
  }
}

.group-detail-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.group-detail-wrapper {
  width: 100%;
  height: 100%;
  border-left: 1px inset;
  overflow-y: scroll;
}

@media screen and (max-width: 900px) {
  .group-detail-wrapper {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.group-detail-wrapper::-webkit-scrollbar {
  display: none;
}