@import '../../../../fonts.scss';

.groupDetail-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 1px inset;
}

@media screen and (max-width: 900px) {
  .groupDetail-header {
    padding-bottom: 24px;
  }
}

.groupDetailAvt-wrapper {
  display: block;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-top: 24px;
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .groupDetailAvt-wrapper {
    margin-top: 48px;
  }
}

.groupDetailAvt {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.groupDetailAvt-wrapper:hover .groupDetailAvt {
  opacity: 0.5;
}

.groupDetailAvt-wrapper>input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.groupDetailAvt-wrapper>span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 42px;
  font-size: 1.1rem;
  font-family: $default-font;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.groupDetailAvt-wrapper:hover span {
  opacity: 1;
}

.groupDetailName {
  margin: 8px 12px 16px 12px;
  font-family: $message-font;
  font-size: 1.8rem;
  font-weight: 650;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  cursor: default;
}