@import '../../../../fonts.scss';

.groupDetailMenu-wrapper {
  width: 100%;
  overflow: hidden;
}

.groupDetailMenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 16px;
}

.groupDetailMenu-header>p {
  font-size: 1rem;
  font-family: $default-font;
  cursor: default;
}

.groupDetailMenu-header>i {
  padding: 4px 4px 4px 4px;
  opacity: 0.5;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.groupDetailMenu-header>i:hover {
  opacity: 1;
}

.groupDetailMenu-header>i:active {
  opacity: 0.75;
}