@import '../../../../fonts.scss';

.groupDetail-context {
  transition: all 0.5s ease-in-out;
  height: 100%;
  z-index: 51;
}

@media screen and (max-width: 900px) {
  .groupDetail-context {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.groupDetailOn {
  width: 55%;
}

@media screen and (max-width: 900px) {
  .groupDetailOn {
    width: 88vw;
    justify-content: flex-end;
  }
}

.groupDetailOff {
  display: none;
}

@media screen and (max-width: 900px) {
  .groupDetailOff {
    display: block;
    width: 88vw;
    transform: translate(100vw);
    justify-content: flex-end;
  }
}

.groupDetail-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.groupDetail-wrapper {
  width: 100%;
  height: 100%;
  border-left: 1px inset;
  overflow-y: scroll;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.groupDetail-wrapper::-webkit-scrollbar {
  display: none;
}