@import '../../../fonts.scss';

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $message-font;
  font-size: 1rem;
  margin-bottom: 16px;
  height: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 900px) {
  .chat-wrapper {
    font-size: 1.1rem;
  }
}

.chat-wrapper::-webkit-scrollbar {
  display: none;
}

.chat-wrapper>.other-messages {
  align-self: flex-start;
  display: flex;
  align-items: center;
  max-width: 60%;
}

.chat-wrapper>.user-messages {
  align-self: flex-end;
  display: flex;
  align-items: center;
  max-width: 60%;
}

.chat-wrapper>.user-messages>span {
  display: block;
  padding: 12px 16px 12px 16px;
  border-radius: 48px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 900px) {
  .chat-wrapper>.user-messages>span {
    padding: 8px 16px 8px 16px;
  }
}

.chat-wrapper>.other-messages>span {
  display: block;
  padding: 12px 16px 12px 16px;
  border-radius: 48px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 900px) {
  .chat-wrapper>.other-messages>span {
    padding: 8px 16px 8px 16px;
  }
}

.chat-wrapper>.user-messages>.avatar-chat {
  display: none;
}

.chat-wrapper>.other-messages>.avatar-chat {
  border-radius: 50%;
  width: 40px;
  margin-right: 12px;
}

@media screen and (max-width: 900px) {
  .chat-wrapper>.other-messages>.avatar-chat {
    border-radius: 50%;
    width: 32px;
    margin-right: 8px;
  }
}