@import '../../../fonts.scss';

.messages-area-group-detail {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.messages-area-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-bottom: 24px;
  padding-right: 24px;
  overflow-y: hidden;
}

@media screen and (max-width: 900px) {
  .messages-area-wrapper {
    padding: 0 12px 12px 8px;
  }
}

.messages-area-wrapper>form {
  align-self: center;
  display: flex;
  width: 96%;
}

.messages-area-wrapper>form>input[type='text'] {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-family: $message-font;
  font-size: 16px;
  border-color: inherit;
  border-radius: 32px;
  border-style: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.messages-area-wrapper>form>input[type='text']:focus {
  opacity: 1;
  outline: none;
}

@media screen and (max-width: 900px) {
  .messages-area-wrapper>form>input[type='text'] {
    font-size: 1.1rem;
    height: 36px;
    border-radius: 16px 0 0 16px;
  }
}

.messages-area-wrapper>form>button {
  display: none;
}

@media screen and (max-width: 900px) {
  .messages-area-wrapper>form>button {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    border-style: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: inherit;
    cursor: pointer;
  }
}