.input-container {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

// .login-form .input-div.one {
// 	margin-top: 0;
// }

.input-icon {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-field span {
	display: block;
	text-align: left;
	position: relative;
	top: 55px;
	left: -10px;
	font-size: 12px;
	color: rgba(241, 82, 9, 0.9);
}

.input-icon i {
	transition: 0.3s;
}

.input-container>div {
	position: relative;
	height: 45px;
}

.input-container>div>h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: 0.3s;
}

.input-container:before,
.input-container:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: 0.4s;
}

.input-container:before {
	right: 50%;
}

.input-container:after {
	left: 50%;
}

.input-container.focus:before,
.input-container.focus:after {
	width: 50%;
}

.input-container.focus>div>h5 {
	top: -5px;
	font-size: 15px;
}

.input-container.focus>.icon>i {
	color: #38d39f;
}

.input-container>div>input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}