@import '../../fonts.scss';

.dialogBox {
	position: relative;
	display: flex;
	top: 0;
	left: 0px;
	flex-direction: column;
	justify-content: space-around;
	height: fit-content;
	max-width: 80%;
	padding: 24px 24px 32px 24px;
	border-radius: 6px;
	animation-name: dialogGroupAppear;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	z-index: 102;
}

.btn-container {
	position: absolute;
	right: 20px;
	bottom: 40px;
}

.cancel-btn button {
	background: none !important;
	border: none;
	padding: 0 !important;
	font-size: 1.2rem;
	color: #069;
	margin-top: 10px;
	text-decoration: underline;
	cursor: pointer;
}

@keyframes dialogGroupAppear {
	0% {
		transform: scale(0.1, 0.1);
	}

	100% {
		transform: scale(1, 1);
	}
}

.dialogBox>.dialogTitle {
	align-self: flex-start;
	font-size: 1.5rem;
	margin-left: 1vw;
}

.avatarButtons {
	display: flex;
	justify-content: space-between;
}