@import '../../fonts.scss';
$borderFocusColor: #38d39f;
$defaultColor: #747474;
.btn-edit {
    display: flex;
    justify-content: space-between;
    color: $defaultColor;
    font-size: 0.9rem;
    padding: 6px 10px;
    background-color:  #00995c;
    border-radius: 6px;
    border: 2px solid transparent;
}

.fa.fa-pencil{
    margin-right: 8px;
    color: #FFFFFF;
    display: none;
} 

.btn-edit-label {
    color: #FFFFFF;
}

.btn-edit:hover  {
    cursor: pointer;
    opacity: 0.9;
    border-color:  #00995c;
    .btn-edit-label {
    text-decoration: underline;
    }
    .fa.fa-pencil{
        display: block;
    }
}

.btn-edit:active {
    border: none;
}

#disable-buttonEditProfile {
    display: none;
}