.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 16px;
  height: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 900px) {
  .chat-wrapper {
    font-size: 5vw;
  }
}

.chat-wrapper::-webkit-scrollbar {
  display: none;
}

.chat-wrapper> {
  display: flex;

}

.chat-wrapper>.otherMessages {
  align-self: flex-start;
  display: flex;
  align-items: center;
  max-width: 60%;
}

.chat-wrapper>.userMessages {
  align-self: flex-end;
  display: flex;
  align-items: center;
  max-width: 60%;
}

.chat-wrapper>.userMessages>span {
  display: block;
  padding: 12px 16px 12px 16px;
  border-radius: 48px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 900px) {
  .chat-wrapper>.userMessages>span {
    max-width: 70vw;
    padding: 1vh 3vw 1vh 3vw;
  }
}

.chat-wrapper>.otherMessages>span {
  display: block;
  padding: 12px 16px 12px 16px;
  border-radius: 48px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 900px) {
  .chat-wrapper>.otherMessages>span {
    max-width: 70vw;
    padding: 1vh 3vw 1vh 3vw;
  }
}

.chat-wrapper>.userMessages>.avatarChat {
  display: none;
}

.chat-wrapper>.otherMessages>.avatarChat {
  border-radius: 50%;
  width: 40px;
  margin-right: 12px;
}

@media screen and (max-width: 900px) {
  .chat-wrapper>.otherMessages>.avatarChat {
    border-radius: 50%;
    width: 7vw;
    margin-right: 2vw;
  }
}