@import '../../fonts.scss';

.dialogOff {
  display: none;
}

.dialogOn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.groupDialog-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dialogGroupBox {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-width: 80%;
  padding: 16px 32px 24px 32px;
  border-radius: 6px;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  z-index: 4;
}

@keyframes appear {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.dialogGroupBox>.dialogGroupTitle {
  align-self: flex-start;
  font-size: 1.5rem;
  padding-bottom: 16px;
}

.inputGroupName {
  position: relative;
  margin-bottom: 16px;
}

.inputGroupName>input {
  align-self: flex-start;
  width: 25vw;
  font-size: 1.1rem;
  border-style: none;
  outline: none;
  padding: 8px 0 8px 4px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 900px) {
  .inputGroupName>input {
    width: 70%;
  }
}

.inputGroupName>input:focus {
  opacity: 1;
}

.inputGroupName>.borderDefault {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-top-width: 2.5px;
}

.inputGroupName>.borderHover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-top-width: 2.5px;
  transition: width 0.4s ease-in-out;
}

.borderHover.focus {
  width: 100%;
}

.dialogGroupBox>button {
  align-self: flex-end;
  font-size: 1.2rem;
  border-style: none;
  border-radius: 8px;
  outline: none;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
}