.group-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 2vw;
  padding-bottom: 2vh;
}

@media screen and (max-width: 900px) {
  .group-wrapper {
    padding-left: 12vw;
  }
}

.group-wrapper>p {
  padding-bottom: 0.6vh;
  white-space: nowrap;
  font-size: 1.5vw;
  cursor: default;
}

@media screen and (max-width: 900px) {
  .group-wrapper>p {
    font-size: 5vw;
  }
}

.group-wrapper>p>i {
  padding: 0.8vw;
}

@media screen and (max-width: 900px) {
  .group-wrapper>p>i {
    padding-right: 2vw;
  }
}


.group-wrapper>ul {
  font-size: 1.1vw;
  padding-left: 1vw;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 900px) {
  .group-wrapper>ul {
    font-size: 3.5vw;
    padding-left: 4vw;
  }
}

.group-wrapper>ul>li {
  word-wrap: break-word;
  word-break: break-word;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .group-wrapper>ul>li {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
}