.header-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px inset;
}

.header-wrapper>button {
  display: none;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  border-style: none;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.header-wrapper>button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .header-wrapper {
    justify-content: space-between;
  }

  .header-wrapper>button {
    display: block;
  }
}

.header-wrapper>form {
  padding-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30vw;
}

@media screen and (max-width: 900px) {
  .header-wrapper>form>input[type="text"] {
    width: 100%;
  }

  .header-wrapper>form {
    width: 80vw;
  }
}

.header-wrapper>form>input {
  width: 20vw;
  min-width: 70px;
  height: 2.5rem;
  color: inherit;
  outline-color: transparent;
  border-style: none;
  border-radius: 5px;
  font-family: inherit;
  padding: 10px;
  transition: width 0.3s ease-in-out;
}

.header-wrapper>form>input:focus {
  width: 100%;
}

.header-wrapper>i {
  padding-right: 1vw;
  padding-top: 0;
  padding-left: 0;
  font-size: 2.5rem;
  transition: color 0.3s ease-in-out;
}

.header-wrapper>i:hover {
  cursor: pointer;
}