.header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  border-bottom: 1px inset;
}

@media screen and (max-width: 900px) {
  .header-wrapper {
    justify-content: space-between;
    height: 56px;
  }
}

.header-wrapper>p {
  width: 60%;
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  .header-wrapper>p {
    display: none;
  }
}

.header-wrapper>button {
  display: none;
  padding-left: 12px;
  padding-right: 12px;
  height: 48px;
  font-size: 1.5rem;
  opacity: 0.8;
  border-style: none;
  background-color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.header-wrapper>button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .header-wrapper>button {
    display: block;
  }
}

.header-wrapper>form {
  padding-right: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 39%;
  height: 32px;
}

@media screen and (max-width: 900px) {
  .header-wrapper>form {
    padding-right: 8px;
    width: 80%;
    height: 48px;
  }
}

.header-wrapper>form>input {
  width: 60%;
  height: 32px;
  border-style: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: inherit;
  padding-left: 12px;
  font-size: 1rem;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 900px) {
  .header-wrapper>form>input {
    padding-left: 12px;
    width: 100%;
    font-size: 1rem;
    border-radius: 0.6rem;
    transition: opacity 0.4s ease-in-out;
  }
}

.header-wrapper>form>input:focus {
  width: 100%;
  opacity: 1;
  outline: none;
}

.header-wrapper>form>button {
  display: flex;
  height: inherit;
  padding-left: 8px;
  padding-right: 8px;
  border-style: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: inherit;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .header-wrapper>form>button {
    display: none;
  }
}

.header-wrapper>form>button>i {
  font-size: 1rem;
}

.header-wrapper>i {
  padding-right: 16px;
  font-size: 2rem;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.header-wrapper>i:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .header-wrapper>i {
    padding-right: 8px;
    font-size: 1.8rem;
  }
}