.messages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 32px;
  padding-bottom: 16px;
}

@media screen and (max-width: 900px) {
  .messages-wrapper {
    padding-left: 12vw;
  }
}

.messages-wrapper>p {
  padding-bottom: 8px;
  white-space: nowrap;
  font-size: 1.5rem;
  cursor: default;
}

@media screen and (max-width: 900px) {
  .messages-wrapper>p {
    font-size: 5vw;
  }
}

.messages-wrapper>p>i {
  padding-left: 12px;
  padding-right: 8px;
}

@media screen and (max-width: 900px) {
  .messages-wrapper>p>i {
    padding-right: 2vw;
  }
}

.messages-wrapper>ul {
  font-size: 1.1rem;
  padding-left: 12px;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 900px) {
  .messages-wrapper>ul {
    font-size: 3.5vw;
    padding-left: 4vw;
  }
}

.messages-wrapper>ul>li {
  word-wrap: break-word;
  word-break: break-word;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .messages-wrapper>ul>li {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
}