.messages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 2vw;
  padding-bottom: 2vh;
}

@media screen and (max-width: 900px) {
  .messages-wrapper {
    padding-left: 12vw;
  }
}

.messages-wrapper>p {
  padding-bottom: 0.6vh;
  white-space: nowrap;
  font-size: 1.5rem;
  cursor: default;
}

@media screen and (max-width: 900px) {
  .messages-wrapper>p {
    font-size: 4rem;
  }
}

.messages-wrapper>p>i {
  padding: 0.8rem;
}

@media screen and (max-width: 900px) {
  .messages-wrapper>p>i {
    padding-right: 2vw;
  }
}

.messages-wrapper>ul {
  font-size: 1.1rem;
  padding-left: 1vw;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 900px) {
  .messages-wrapper>ul {
    font-size: 3rem;
    padding-left: 4vw;
  }
}

.messages-wrapper>ul>li:hover {
  word-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
}