.messages-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 2rem;
  padding-left: 3.5vw;
  padding-top: 5vh;
}

.messages-wrapper>p {
  padding-bottom: 1rem;
  cursor: default;
}

.messages-wrapper>ul {
  font-size: 1.5rem;
  line-height: 3rem;
}

.messages-wrapper>ul>li:hover {
  color: #ffffff;
  cursor: pointer;
}