@import '../../fonts.scss';

html {
  font-size: 10px;
}

.home-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 5fr;
  font-family: $default-font;
  overflow: hidden;
}
.home-container>button {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: scroll;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  -ms-overflow-style: none;
}

.navbar>h1 {
  position: sticky;
  white-space: nowrap;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 3rem;
  width: 100%;
  cursor: default;
}

i {
  padding: 5px;
}

.section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.section::-webkit-scrollbar {
  display: none;
}

.section {
  -ms-overflow-style: none;
}