@import '../../fonts.scss';

html {
  font-size: 1vw;
}

.home-container {
  display: grid;
  position: relative;
  grid-template-columns: 27vw 70vw;
  grid-column-gap: 3rem;
  font-family: $default-font;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .home-container {
    grid-template-columns: 1fr;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  -ms-overflow-style: none;
}

@media screen and (max-width: 900px) {
  .home-container>.toggle-target {
    transform: translateX(-90vw);
  }

  .home-container>.navbar {
    position: absolute;
    width: 90vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.navbar>h1 {
  position: sticky;
  white-space: nowrap;
  text-align: center;
  font-size: 3.5rem;
  padding-top: 2rem;
  width: 100%;
  cursor: default;
}

@media screen and (max-width: 900px) {
  .navbar>h1 {
    padding-top: 5rem;
    font-size: 10rem;
  }
}

.navbar>h1>i {
  padding: 0.8rem;
}

.section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.section::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .section {
    height: 100vh;
  }

  .main-content {
    height: 100vh;
  }
}