@import '../../fonts.scss';

html {
  font-size: 10px;
}

.home-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 5fr;
  font-family: $default-font;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  min-height: 730px;
  width: auto;
}

.navbar>h1 {
  position: sticky;
  white-space: nowrap;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 3rem;
  width: 100%;
  cursor: default;
}

i {
  padding: 5px;
}

.section {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px inset #D3D3D3;
}

.header>form {
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header>form>input {
  width: 18vw;
  min-width: 200px;
  height: 2.5rem;
  background-color: #DCDCDC;
  color: inherit;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: inherit;
  padding: 8px;
  transition: border 5s ease-in-out;
}

.header>form>input:focus {
  outline-color: #D3D3D3;
}

.header>form>i {
  margin-left: 5vw;
  padding-right: 1vw;
  font-size: 2.5rem;
  color: #808080;
}

.header>form>i:hover {
  color: #000000;
  cursor: pointer;
}