@import '../../fonts.scss';

.userNavbar-wrapper {
  padding-top: 3vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .userNavbar-wrapper {
    padding-left: 20vw;
  }
}

.userNavbar-wrapper>.dropdown>button {
  display: flex;
  align-items: center;
  color: inherit;
  background-color: transparent;
  border-radius: 1rem;
  border-style: none;
  padding-left: 1vw;
  padding-right: 1vw;
  outline: none;
  cursor: pointer;
}

.userNavbar-wrapper>img {
  width: 3rem;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .userNavbar-wrapper>img {
    margin-right: 2rem;
    width: 10rem;
  }
}

.userNavbar-wrapper>.dropdown>button>p {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1.2rem;
  font-family: $default-font;
}

@media screen and (max-width: 900px) {
  .userNavbar-wrapper>.dropdown>button>p {
    font-size: 3rem;
  }
}

.userNavbar-wrapper>.dropdown>button>i {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .userNavbar-wrapper>.dropdown>button>i {
    padding-left: 3rem;
    font-size: 3rem;
  }
}