@import '../../fonts.scss';

.userNavbar-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userNavbar-wrapper>button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: inherit;
  border-style: none;
  outline: none;
}

.userNavbar-wrapper>button>img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.userNavbar-wrapper>button>p {
  font-size: 1.5rem;
  margin: 15px;
  font-family: $default-font;
}

.userNavbar-wrapper>button>i {
  font-size: 2rem;
}

.userNavbar-wrapper>button>i,
.userNavbar-wrapper>button>p {
  cursor: pointer;
}