@import '../../fonts.scss';

.userNavbar-wrapper {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .userNavbar-wrapper {
    justify-content: center;
  }
}

.userNavbar-wrapper>img {
  width: 48px;
  border-radius: 50%;
}

.userDropdown {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
}

.userDropdown>.optionBtn {
  position: relative;
  display: flex;
  align-items: center;
  color: inherit;
  background-color: transparent;
  border-style: none;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}

.userDropdown>.optionBtn>p {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1rem;
  font-family: $default-font;
}

.userDropdown>.optionBtn>i {
  font-size: 1.6rem;
  padding-left: 12px;
}