@import '../../fonts.scss';
.fields-not-change {
    margin-bottom: 16px;
    width: 100%;
}

.fields-not-change>p {
    font-size: 1.1rem;
    padding: 6px 4px;
    border-radius: 4px;
    border: 2px solid;
    color: #555;
    transition: all 0.3s ease-in-out;
    font-family: $default-font;
}
