@import '../../fonts.scss';

.avatar-container {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.form-wrapper {
	width: 100px;
}

.logo-cover {
	position: relative;
}

.logo-cover > img {
    height: 100px;
}

.logo-cover span {
	opacity: 0;
	color: rgb(36, 33, 33);
	font-size: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.logo-cover i {
	position: absolute;
	top: 0;
	right: -10%;
}

.logo-cover:hover img {
	background-color: #333;
	transition: 0.5s;
	opacity: 0.5;
}

.logo-cover input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.logo-cover:hover span {
	transition: 1;
	opacity: 0.9;
}

#disable-btn-add-avatar {
	display: none;
}