.dialog-btn {
  align-self: flex-end;
  font-size: 1.3rem;
  border-style: none;
  border-radius: 8px;
  outline: none;
  padding: 12px 12px 12px 12px;
  margin: 0;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dialog-btn:hover {
  opacity: 1;
}