@import '../../../fonts.scss';

@keyframes appear {
    0% {
        transform: scale(0.1, 0.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.change-password__wrapper {
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-size: 1rem;
    min-width: 35%;
    padding: 16px 32px;
    border-radius: 5px;
    align-items: center;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    position: relative;
    font-family: $default-font;
}

.change-password__wrapper > h2 {
    align-self: flex-start;
    font-size: 1.5rem;
    margin-left: 1vw;
}

.change-password__form {
    position: relative;
    display: flex;
    width: 28vw;
    min-width: 210px;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
}