@import '../../../fonts.scss';

.favorite-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 32px;
  padding-bottom: 16px;
}

.favorite-wrapper>p {
  padding-bottom: 8px;
  white-space: nowrap;
  font-size: 1.5rem;
  cursor: default;
}

.favorite-wrapper>p>.fa-plus {
  padding: 0 4px 0 4px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1.1rem;
  font-weight: 100;
  vertical-align: baseline;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.favorite-wrapper>p>i {
  padding-left: 12px;
  padding-right: 8px;
}

.favorite-wrapper>ul {
  font-size: 1.1rem;
  padding-left: 12px;
  word-wrap: break-word;
  word-break: break-word;
  width: 100%;
}