@import '../../../fonts.scss';

.dialog-add-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 500px;
  padding: 24px 24px 24px 24px;
  border-radius: 6px;
  animation-name: dialog-add-group-appear;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  z-index: 101;
}

@keyframes dialog-add-group-appear {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 900px) {
  .dialog-add-group-wrapper {
    width: 100%;
  }
}

.dialog-add-group-header {
  position: relative;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $default-font;
  width: 100%;
  font-size: 1.5rem;
  margin-left: 1vw;
}

.input-group-name {
  position: relative;
  display: flex;
  width: 450px;
  min-width: 210px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

@media screen and (max-width: 900px) {
  .input-group-name {
    width: 100%;
  }
}

.input-group-name>.input-container {
  width: 94%;
  margin: 16px 0 16px 0;
}

.input-group-name>.dialog-btn {
  margin-bottom: 8px;
}

.input-group-name>.dialog-btn-container {
  padding-left: 12px;
}