@import '../../../fonts.scss';

.dialogAddGroup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 500px;
  padding: 24px 24px 24px 24px;
  border-radius: 6px;
  animation-name: dialogAddGroupAppear;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  z-index: 4;
}

@keyframes dialogAddGroupAppear {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.dialogAddGroup-header {
  position: relative;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $default-font;
  width: 100%;
  font-size: 1.5rem;
  margin-left: 1vw;
}

.inputGroupName {
  position: relative;
  display: flex;
  width: 450px;
  min-width: 210px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.inputGroupName>.input-container {
  width: 94%;
  margin: 16px 0 16px 0;
}

.inputGroupName>.dialogBtn {
  margin-bottom: 8px;
}

.inputGroupName>.dialogBtn-container {
  padding-left: 12px;
}