@import '../../../fonts.scss';


.user-navbar-wrapper {
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-navbar-wrapper>img {
  width: 48px;
  border-radius: 50%;
}

.user-dropdown {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 70%;
}

.user-dropdown>.option-btn {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  background-color: transparent;
  border-style: none;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}

.user-dropdown>.option-btn>p {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1rem;
  font-family: $default-font;
}

.user-dropdown>.option-btn>i {
  font-size: 1.6rem;
  padding-left: 12px;
}