@import '../../../fonts.scss';


.options-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  animation-name: userOptionAppear;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  transform-origin: top;
  padding: 8px;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1rem;
  font-family: $default-font;
}

@keyframes userOptionAppear {
  0% {
    transform: scaleY(0);
    display: none;
  }

  100% {
    transform: scaleY(1);
    display: block;
  }
}

.toggle-option {
  display: none;
}

@keyframes userOptionDisappear {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
    display: none;
  }
}

.options-wrapper>li {
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding-top: 6px;
  padding-bottom: 6px;
}

.options-wrapper>li>p>i {
  font-size: 1.1rem;
  margin-left: 8px;
  margin-right: 8px;
}